@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
h1{
    color: rgb(12, 148, 200);
    font-size: 148;
    letter-spacing: -1px;
    word-spacing: 20px;
    text-decoration: line-through red;
    text-shadow: 1px 1px 3px yellow; /* Eje x - Eje Y - Valor difuminado */
    background-color: blue;
    width:300px ;
    text-align:center;
    font-family: "Roboto Slab", serif;
    
}
*{
    color:aquamarine;
}
h2{
    font-family: "Verdana";
    color:black;
    font-weight: 800;
}